<html lang="en">

<head>

    {{template "components/en_header.html"}}

    <link rel="stylesheet" type="text/css" href="/frontend/css/pages/index.css">
</head>

<body>
    <main>
        {{template "components/en_taskbar.html"}}

        <div class="wrapper">
            <div class="title_page_section left">
                <h1 class="big_text">Brugte bærbarer
                    <bt />som servere
                </h1>
            </div>

            <div class="page_section right">

            </div>

            <div class="page_section left">

            </div>

            <div class="page_section right">

            </div>
        </div>
    </main>

</body>

</html>
