<!DOCTYPE html>
<html lang="da">

<head>

    <title>Om os</title>
    {{template "components/header.html"}}
    <link rel="stylesheet" type="text/css" href="/frontend/css/pages/om_os.css">
</head>

<body>
    <main>
        {{template "components/theme_button.html"}}
        {{template "components/taskbar.html"}}
        <div class="wrapper_x">
            <div class="wrapper">
                <div class="part_section"></div>
                <div class="big_section">
                    <div class="mini_section">
                        <div class="half_section">
                            <h2 class="sub_title">Aspirende ingeniører</h2>
                            <p class="sub_text">Holdet bag Serfwerk er opbygget af os tre
                                gymansie elever.
                                <br>
                                <br>
                                For os er Serfwerk mindre et middel for
                                at tjene penge, men mere en mulighed
                                for os<br> at udfører et større projekt og
                                skabe mere efaring.
                            </p>
                        </div>

                        <div class="half_section img_section">
                            <img src="/frontend/assets/gruppe.jpg" alt="gruppe billede">
                        </div>
                    </div>
                    <div class="mini_section">
                        <div class="half_section">
                            <h2 class="sub_title">Skoleprojekt</h2>
                            <p class="sub_text">Serfwerk et skoleprojekt lavet til
                                en Teknologi eksamen på Aalborg Teknisk Gymnasium. Med Serfwerk
                                har der forsøget at lave et produkt
                                som hjalp med en af FNs verdensmål.
                                I dette projekt er det specifikt genbrug.</p>

                        </div>
                        <div class="half_section img_section">
                            <img src="/frontend/assets/htx_logo.png" alt="skole logo">
                        </div>
                    </div>
                </div>
                <div class="part_section"></div>
            </div>

        </div>

        {{template "components/footer.html"}}
    </main>
</body>

</html>
