{{define "components/counter_temp.html"}}
<style>
    .horizontal_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: #cf7c7c;
    }

    .vertical_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #74abed;
    }

    .vertical_wrapper,
    .horizontal_wrapper {
        width: 100%;
        height: 100%;
    }

    .counter_head {
        font-size: 5vw;
    }

    .counter_button {
        width: 24vw;
        background: #1175ed;
        color: #8cbefa;
        height: 4vw;
        font-size: 2vw;
        outline: none;
        border: none;
    }
</style>

<div class="horizontal_wrapper">
    <div class="vertical_wrapper">
        <h1>{{.fish}}</h1>
        <p class="counter_head">0</p>
        <button class="counter_button">Click me</button>

        <script type="text/javascript" src="/assets/js/counter.js" defer></script>
    </div>
    <a href="/{{.fish}}">Hello</a>
</div>
{{end}}
