<!DOCTYPE html>
<html lang="da">

<head>
    <title>Ny bruger</title>

    {{template "components/header.html"}}
    <link rel="stylesheet" type="text/css" href="/frontend/css/pages/ny_bruger.css">

    <script src="/frontend/js/pages/ny_bruger.js" defer type="module"></script>
</head>

<body>
    <main>

        {{template "components/theme_button.html"}}
        {{template "components/taskbar.html"}}
        <div class="wrapper">
            <div class="filler">
            </div>
            <div class="main_section">

                <div class="section_one">

                    {{template "components/status_msg.html"}}
                    <br>
                    <div class="input_holder">
                        <label for="username_input" class="input_label">Brugernavn:</label>
                        <input type="text" id="username_input" class="cust_input" placeholder="Brugernavn">
                    </div>
                    <br>
                    <div class="input_holder">
                        <label for="email_input" class="input_label">Email:</label>
                        <input type="text" id="email_input" class="cust_input" placeholder="Email">
                    </div>

                    <br>
                    <div class="input_holder">
                        <label for="password_input" class="input_label">Kodeord:</label>
                        <input type="text" id="password_input" class="cust_input" placeholder="Kodeord">
                    </div>
                </div>
                <div class="section_two">
                    <button class="cust_button" id="user_button">Ny bruger</button>
                    <br>
                    <button class="cust_button" id="login_button">Login</button>
                </div>

            </div>
        </div>
        {{template "components/footer.html"}}
    </main>
</body>

</html>
